.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  margin-bottom: 5vh;
}

.header, .employee-overview {
  font-size: calc(10px + 1vmin);
}

.employee-overview__title {
  margin-bottom: 2vh;
}

.employee-overview__subordinates > div {
  text-align: start;
}


