.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  margin-bottom: 5vh;
}

.error-msg {
  color: red;
}

/* 
* Employee Explorer
*/

@media (max-width: 768px) {
  .explorer-form {
    flex-direction: column;
  }

  .explorer-form__item {
    margin-bottom: 0.5em;
  }
}

.explorer-form {
  display: flex;
}

.explorer-form__item {
  flex: 1;
  font-size: calc(10px + 1vmin);
  border: none;
  padding: 0.5em;
}

.explorer-form__button {
  background-color: #00bfff;
}

/* 
* Employee Overview
*/

.header,
.employee-overview {
  font-size: calc(10px + 1vmin);
}

.employee-overview__title {
  margin-bottom: 2vh;
}

.employee-overview__subordinates > div {
  text-align: start;
}
